<ion-modal-view>
  <ion-header-bar>
   
    <h1 class="title">Add a new goal</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddGoal()">Back</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="card">
      
   <ion-item>
     <form>
    <h2>{{newGoal.name}}</h2>
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Goal Name</span>
            <input type="text" id="goalname" ng-model="newGoal.name" placeholder="Goal Name">
        </label>
    </div>
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Goal Description</span>
            <input type="text" id="goaldescription" ng-model="newGoal.description" placeholder="Describe your goal">
        </label>
    </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Cost</span>
            <i class="icon ion-social-usd placeholder-icon"></i>
            <input type="text" id="goalcost" ng-model="newGoal.cost" placeholder="Cost of this goal">
        </label>
    </div>
<!--
    <div class="list">
        Add an image<br />
        <button class="button-block button-positive" onclick="startwidget()">Select</button>
    </div>
-->

          <button class="button button-block button-positive" ng-click="saveNewGoal()">Add this goal</button>
        </label>
      </div>
    </form>
    </ion-item>  </div>

  </ion-content>
</ion-modal-view>

<!--
{
    _id:            "[datetimestamp.toISOString]",
    name:           "[name chosen by child]",
    type:           "goal",
    owner:         "[a family member]",
    cost:           "[a number]",
    allocated:      "[a number]",
    complete:       true or false (default to false),
    picture:        "[*****TODO - NEED TO MAKE PICTURE FUNCTIONALITY]",
    description:    "[paragraph text]",
    duedate:        "[optional date]"
}-->
