<!--
<ion-modal-view>
  <ion-header-bar>
   <img src="img/taskmaster2.png" style="width:75px" alt="">
    <h1 class="title">Chore approval</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="approvalHelpClose()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
-->
   <ion-item class="item-text-wrap">
        <h3>"Does this chore require parent approval to be considered complete?"</h3>
        <div style="text-align:center;">
            <img src="img/approval-checkbox.png" style="max-width:75%" alt="">
        </div>
        <div>
            If you check this box, your child can mark their chore as complete, but it won't show up as payable until you have marked the chore as approved on the parent dashboard.<br><br>
            
            This is a way to ensure tasks are completely done, especially in cases where there is room for interpretation. If your definition of a "clean room" differs from your child's, this checkbox may come in handy, especially when chore money is on the line. <i class="icon ion-thumbsup"></i>
        </div>

    </ion-item>
<!--
  </ion-content>
</ion-modal-view>
-->
