<ion-view cache-view="false" view-title="Chore Details">
  <ion-content style="background-image:url('img/background.png');background-position:center">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="card">
    <button ng-click="claim()" class="button button-energized button-full" ng-if="choreclaimed === false">
      Add this chore to your chores
    </button>
    <button class="button button-positive button-full" ng-if="choreclaimed === true" style="line-height: 1em">
        <span style="font-size: .9em">Added! This chore is now available<br />on the My Chores page.</span>
    </button>
    
    <ion-item>
    <div ng-if="chore.assigned === 'Chore Store'">
    <div class="item-text-wrap" style="margin-bottom:20px;">
        <span class="dark"><strong>{{chore.name}}</strong></span><br>
        <div ng-if="currentMember.admin !== true" style="font-size:1.2em">${{chore.value}}</div>
        <div ng-if="currentMember.admin === true" style="font-size:1.2em">{{chore.value * 100 | number}} points</div>
        
        <div ng-if="chore.description">
        <hr>
        Description:<br />
        {{chore.description}} <br><br>
        </div>
        <span ng-if="chore.repeat">Repeats on</span><br>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Sunday">Sundays</button>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Monday">Mondays</button>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Tuesday">Tuesdays</button>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Wednesday">Wednesdays</button>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Thursday">Thursdays</button>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Friday">Fridays</button>
        <button class="button button-small button-calm" ng-if="chore.repeatdays.Saturday">Saturdays</button>        
        <hr>

        <span style="color:gray;margin-bottom:15px;font-size: .8em">Categories</span>
        <br>
        <span ng-if="status === true" class="category-block" ng-repeat="(category,status) in chore.categories">{{category}}</span>                
    </div>
<!--
    <div ng-if="currentMember.name !== chore.assignedby && chore.complete === false">
        <button class="button button-stable button-small" ng-disabled>(Can't return assigned chores)</button>
    </div>
-->
        <button ng-click="edit()" class="button button-balanced button-full" ng-if="currentMember.admin === true">
          Edit chore
        </button>
        <button ng-click="delete()" class="button button-assertive button-full" ng-if="currentMember.admin === true">
          Delete chore
        </button>
    </div>
    </ion-item>
    </div>
    <div style="margin:auto;margin-top:75px;border:0px solid white;border-radius: 12px;padding:30px;background-color:white;max-width:90%;">
        Brought to you by the good folks at <br>
        <strong>{{sponsor.name}}</strong>
    </div>
  </ion-content>
</ion-view>