<ion-view view-title="Chore details">
  <ion-content style="background-image:url('img/background.png');background-position:center">
    <div class="card">
        <div class="item">
                <div ng-if="chore.assigned !== 'Chore Store'" class="item-text-wrap">
                    <div class="item-text-wrap">
                        <h2>{{chore.name}}</h2>
                    </div>
                    <h1 ng-if="chore.value && currentMember.admin !== true">{{chore.value | currency}}</h1>
                    <h1 ng-if="chore.value && currentMember.admin === true">{{chore.value * 100 | number}} Points</h1>
                    <span ng-if="chore.description">
                        {{chore.description}} <br><br>                    
                    </span>
                    <span ng-if="chore.dueDate">
                        Due: {{chore.dueDate | date: MM}} <br>                    
                    </span>
                    <span class="item-text-wrap dark" ng-if="chore.assignedby === currentMember.name">
                        You chose this chore from the Chore Store
                    </span>
                    <span class="item-text-wrap dark" ng-if="chore.assignedby !== currentMember.name">This chore was assigned by {{chore.assignedby}}</span>
                    <br>
                    <br>
                    <br>
                </div>
    <div ng-if="chore.assigned === 'Chore Store'">
        Chore returned!
    </div>
    <div  ng-if="currentMember.admin === true">
        <button ng-if="!chore.complete" class="button button-balanced" ng-click="edit()">Edit</button> <br> <br>
    </div>
    <div ng-if="chore.complete === false">
        <button class="button button-balanced" ng-click="markcomplete()">Mark this chore complete</button> <br /><br />
    </div>
    
    <div ng-if="chore.complete === true && !chore.approved && currentMember.admin === true">
        <button class="button button-energized" ng-click="markincomplete() ">Mark this chore incomplete</button> <br /><br />
    </div>
    <div ng-if="currentMember.name === chore.assignedby && chore.complete === false">
        <button class="button button-calm button-small" ng-click="returnchore()">Return this chore to the Chore Store</button>
    </div>
<!--
    <div ng-if="currentMember.name !== chore.assignedby && chore.complete === false">
        <button class="button button-stable button-small" ng-disabled>(Can't return assigned chores)</button>
    </div>
-->
        </div>
    </div>
    <div style="margin:auto;margin-top:75px;border:0px solid white;border-radius: 12px;padding:30px;max-width:90%;background-color:white">
        Brought to you by the good folks at <br>
        <strong>{{sponsor.name}}</strong>
    </div>
  </ion-content>
</ion-view>