<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Dashboard help</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeHelp()">Back</button>
    </div>
  </ion-header-bar>
   <ion-content>
    <div class="card dark" style="padding: 30px;padding-top:10px;">
       <div style="float:left"><i class="ion-information-circled calm" style="font-size:2em;padding:12px;"></i></div>
        This is the <strong class="calm">Parent Dashboard</strong>. Here is where you can add additional family members to the app, as well as:<br /><br />

        <ul>
            <li>...record payments to family members for chores done</li>
            <li>...navigate to online banking for [sponsor]</li>
            <li>...see how many chores have been done by each family member</li>
            <li>...see how many uncompleted chores are left for each family member</li>
            <li>...approve chores that have been completed by other famkly members</li>
        </ul>
    </div>       
   </ion-content>
</ion-modal-view>
    