<ion-modal-view>
  <ion-header-bar> 
    <h1 class="title">Edit Goal</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEditGoal()">Back</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card">
        <ion-item>
                        <form>
    <h2 class="item-text-wrap" style="font-size:1.3em;font-weight:bold;">{{goalClone.name}}</h2>
    <ion-item>
        <div class="list">
            <label class="item item-input item-floating-label">
                <input type="text" id="goalname" ng-model="goalClone.name" placeholder="Goal name">
            </label>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Goal Description</span>
                <input type="text" id="goaldescription" ng-model="goalClone.description" placeholder="Describe your goal">
            </label>
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Cost</span>
                <i class="icon ion-social-usd placeholder-icon"></i>
                <input type="text" id="goalcost" ng-model="goalClone.cost" placeholder="How much does this goal cost?">
            </label>
        </div>        
    </ion-item>


          <button class="button button-block button-positive" ng-click="saveGoalRecord()">Save this goal</button>
        </label>
      </div>
    </form>
        </ion-item>
    </div>
  </ion-content>
</ion-modal-view>

<!--
{
    _id:            "[datetimestamp.toISOString]",
    name:           "[name chosen by child]",
    type:           "goal",
    owner:         "[a family member]",
    cost:           "[a number]",
    allocated:      "[a number]",
    complete:       true or false (default to false),
    picture:        "[*****TODO - NEED TO MAKE PICTURE FUNCTIONALITY]",
    description:    "[paragraph text]",
    duedate:        "[optional date]"
}-->
