<ion-view view-title="{{currentMember.name}}'s goals">
  <ion-content style="background-image:url('img/background.png');background-position:center">
    <div class="card">
        <div class="item">
            <div class="item-text-wrap">
                <h2 class="item-text-wrap" style="font-size:1.5em">{{goal.name}}</h2>
                <h1>${{goal.cost}}</h1>
                {{goal.description}} <br><br>
                <img src="https://res.cloudinary.com/ntcapps/image/upload/w_100,h_100,c_thumb,r_12/{{goal.goalimageurl}}" alt="">
                <br>

            </div>
            <div class="list" ng-if="goal.complete === false">
                <button class="button button-block button-positive" ng-click="startGoalWidget()">Set an image for this goal</button>
            </div>
            <div ng-if="goal.complete === false">
                <button class="button button-balanced button-full" ng-click="editGoal()">Edit</button>
            </div>
            <div ng-if="goal.complete === false">
                <button class="button button-calm button-full" ng-click="markGoalComplete()">Mark this goal as complete!</button>
            </div>
            <div>
                <button class="button button-assertive button-full" ng-click="deleteGoal()">Delete</button>
            </div>
            <!--
                <div ng-if="goal.complete === false">
                    <button class="button button-balanced" ng-click="markcomplete()">Mark this goal complete</button> <br /><br />
                </div>
                <div ng-if="goal.complete === true">
                    <button class="button button-energized" ng-click="markincomplete() ">Mark this goal incomplete</button> <br /><br />
                </div>
            -->
        </div>
    </div>
    <div style="margin:auto;margin-top:75px;border:0px solid white;border-radius: 12px;padding:30px;max-width:90%;background-color:white">
        Brought to you by the good folks at <br>
        <strong>{{sponsor.name}}</strong>
    </div>
  </ion-content>
</ion-view>