<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Chore Store help</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeHelp()">Back</button>
    </div>
  </ion-header-bar>
   <ion-content>
    <div class="card dark" style="padding: 30px;padding-top:10px;">
       <div style="float:left"><i class="ion-information-circled calm" style="font-size:2em;padding:12px;"></i></div>
        This is the <strong class="calm">Chore Store</strong>. Here is where you can claim chores that haven't been assigned yet. Tap on a chore to see its details, then tap "Claim this chore" to move it to your My Chores page.<br />
    </div>       
   </ion-content>
</ion-modal-view>