<ion-view cache-view="false" view-title="{{person.name}}'s Chores">
   <ion-content style="background-image:url('img/background.png');background-position:center">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>

    <div class="card">
    <ion-list>
      <ion-item>
         <div style="text-align:center;margin-bottom:20px;"><span style="color:lightgray">pull to refresh</span></div>
          My Chores: 
          <div ng-if="incompletechores > 0 && incompletechores < 2"><span class="positive" style="font-weight:bold">{{incompletechores}}</span> chore to do</div>
          <div ng-if="incompletechores === 0">No chores to do!</div>
          <div ng-if="incompletechores > 1"><span class="positive" style="font-weight:bold">{{incompletechores}}</span> chores to do</div>
      </ion-item>
<!--
       <ion-item ng-if="incompletechores === 0" class="positive">
           You have no uncompleted chores!
       </ion-item>
-->
        <ion-item ng-repeat="chore in service.mychores"
               ui-sref="app.choredetails({id:chore._id})" ng-if="chore.complete !== true" class="positive animate">
            {{chore.name}} <br>
            You can earn: ${{chore.value}}
            <h4 ng-if="chore.assignedby !== currentMember.name">Assigned by: {{chore.assignedby}}</h4>
            <h4 ng-if="chore.assignedby === currentMember.name">You chose this chore from the Chore Store</h4>
        </ion-item>
       <ion-item>
               <span class="dark">Completed Chores</span>
       </ion-item>
        <ion-item ng-repeat="chore in service.mychores"
               ui-sref="app.choredetails({id:chore._id})" ng-if="chore.complete == true" class="balanced animate">
            {{chore.name}} <br>
            You've earnt: ${{chore.value}}!
            <h4 ng-if="chore.assignedby !== currentMember.name">Assigned by: {{chore.assignedby}}</h4>
            <h4 ng-if="chore.assignedby === currentMember.name">You chose this chore from the Chore Store</h4>
        </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>