<ion-view view-title="{{person.name}}">
  <ion-content style="background-image:url('img/background.png');background-position:center">
    <div class="card">
        <item-list>
            <ion-item class="item-text-wrap">
              <div class="row">
               <img src="https://res.cloudinary.com/ntcapps/image/upload/w_100,h_100,c_thumb,r_max/{{person.personImageUrl}}" alt="">
              </div>
              <div class="row">
                 <br>
                  {{person.name}}
              </div>
            </ion-item>
<!--
            <ion-item>
                <button class="button button-full button-calm" ng-click="gotopersonchores()">{{person.name}}'s chores</button>
            </ion-item>            
            <ion-item>
                <button class="button button-full button-balanced" ng-click="editPerson()">Edit {{person.name}}'s info</button>
            </ion-item>
-->
            <ion-item>

<!--
                <a class="item" href="#" onclick="window.open('http://cloudinary.com', '_system', 'location=yes'); return false;">
                                Open cloudinary
                </a>
-->
               <span ng-if="person.memberowedmoney === true" class="item-text-wrap">{{person.name}} has earned some money!</span>
                <button ng-if="person.memberowedmoney === true" class="button button-full button-balanced" ng-click="editPerson()">Pay</button>
                <button class="button button-full button-positive item-icon-right" ng-click="startPersonWidget()"><i class="icon ion-image"></i>Set Picture</button>
                <button ng-if="person.name === currentMember.name" class="button button-full button-stable button-small" style="color:lightgray" ng-click="showNoDeleteSelf()">Remove {{person.name}} from app</button>
                <button ng-if="person.name !== currentMember.name" class="button button-full button-stable button-small" style="color:lightgray" ng-click="showConfirm()">Remove {{person.name}} from app</button>
            </ion-item>
        </item-list>
    </div>
    <div class="card">
                <ion-item>
                <span ng-if="currentStats.unapprovedchores > 0" class="dark">Chores that still need approval</span>
             <ion-list>
                <ion-item ng-repeat="chore in chores"
                       ui-sref="app.personchoredetails({id:chore._id})" ng-if="chore.complete === true && chore.requiresapproval && chore.approved === false" class="dark animate">
                    <h2 style="font-weight:bold; color: gray" >Waiting on approval</h2>
                    {{chore.name}} <br>
                    <div ng-if="chore.value && person.admin !== true" class="item-text-wrap" style="font-size:.8em;line-height:1em">If this chore is approved, {{person.name}} will earn: ${{chore.value}}</div>
                    <div ng-if="chore.value && person.admin === true" class="item-text-wrap">If this chore is approved, {{person.name}} will earn: {{chore.value * 100}} points!</div>
                    <h4>Completed on: {{chore.completiondate | date: 'short'}}</h4>
                    <h4 ng-if="chore.assignedby !== currentMember.name">Assigned by: {{chore.assignedby}}</h4>
                    <h4 ng-if="chore.assignedby === person.name">
                       <div class="item-text-wrap" class="item-icon-right">
                          <i class="icon ion-android-cart"></i>
                           {{person.name}} chose this chore from the Chore Store
                       </div>
                    </h4>
                </ion-item>
              </ion-list>
            </ion-item>
        <ion-item>
                <span class="dark">{{person.name}}'s assigned chores</span>
             <ion-list>
                <ion-item ng-repeat="chore in chores"
                       ui-sref="app.personchoredetails({id:chore._id})" ng-if="chore.complete === false" class="positive animate">
                    {{chore.name}} <br>
                    {{chore.description}}
                    <div ng-if="chore.value && person.admin !== true" class="item-text-wrap" style="font-size:.8em;line-height:1em">This chore is worth ${{chore.value}}</div>
                    <div ng-if="chore.value && person.admin === true" class="item-text-wrap">This chore is worth {{chore.value * 100}} points!</div>
                    <h4 ng-if="chore.assignedby !== person.name">Assigned by: {{chore.assignedby}}</h4>
                    <h4 ng-if="chore.assignedby === person.name">
                       <div class="item-text-wrap" class="item-icon-right">
                          <i class="icon ion-android-cart"></i>
                           {{person.name}} chose this chore from the Chore Store
                       </div>
                    </h4>
                </ion-item>
              </ion-list>
            </ion-item>
    </div>

  </ion-content>
  </ion-content>
</ion-view>